.header {
    border-bottom: 1px solid #ececec;

&__container {
         display: flex;
         align-items: center;
        }
}

.navigation__list {
    align-items: center;
    display: flex;
}

.navigation__item {
    margin-right: 50px;

&:last-child {
    margin-right: 0px;
        }
}

.navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color var(--hov-focus);

&:hover,
&:focus {
    color: var(--accent-cl);
    }
}

&--current {
    color: var(--accent-cl);
}

&--current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-cl);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.contacts__list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.contacts__item {
    margin-right: 30px;
    align-items: center;

&:last-child {
    margin-right: 0px;
    }
}

.contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color var(--hov-focus);

&:hover,
&:focus {
    color: var(--accent-cl);
        }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}