.team {
    background-color: #f5f4fa;
    
&__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 50px;
        }
&__list {
            display: flex;
            align-items: center;
        }
&__item {
            background-color: var(--main-bg-cl);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                        0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            margin-right: 30px;
        }
}

.team-photo {
    padding-top: 30px;
    padding-bottom: 30px;

&__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 10px;
        }
    
&__position {
            font-size: 16px;
            line-height: 1.1875;
            text-align: center;
            letter-spacing: 0.03em;
            color: #757575;
            margin-bottom: 16px;
        }
}

